!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="keywords", content="journal")
    meta(name:"author", content="Peter Lyons")
    meta(name="description", content="An elephant never forgets")
    meta(name="copyright", content="2011, Peter Lyons LLC")
    
    link(rel="stylesheet", href="css/blueprint/screen.css", type="text/css",
      media="screen, projection")
    link(rel="stylesheet", href="css/screen.css", type:"text/css")
    != "<!--[if lt IE 8]>"
    link(rel="stylesheet", href="css/blueprint/ie.css", type="text/css",
      media="screen, projection")
    != "<![endif]-->"
    link(rel="stylesheet", href="css/screen.css", type:"text/css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Raleway:100", type="text/css")
    - if (title)
      title #{title} | #{appName}
    - else
      title #{appName}
    link(rel="stylesheet", href="css/sj_theme/jquery-ui.css", type:"text/css")
    script(type="text/javascript", src="js/jquery.js")
    script(type="text/javascript", src="js/jquery-ui.js")
    script(type="text/javascript", src="js/underscore.js")
    script(type="text/javascript", src="js/backbone.js")
    script(type="text/javascript", src="js/backbone-localstorage.js")
    script(type="text/javascript", src="js/superjournal.js")
  body
    .container
      .header.span-24.last
        h1 Welcome to #{appName}!
        - if (user)
          form#signout_form(method='post', action='/signout')
            | #{user}
            a#signout_link(href='javascript:$("#signout_form").submit();') Sign out
        .navigation.span-24.last
      .content.span-24.last
        !{body}
      .footer.span-24.last
        hr
        = "Copyright &copy; 2011 Peter Lyons LLC"
  :coffeescript
     $(document).ready ->
       $("#signout_link").button()
